PORT=6804
CORS_ORIGIN=http://localhost:6804,http://localhost:3000

DATABASE_HOST=
DATABASE_PORT=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_NAME=

REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASS=
MAIL_FROM=

JWT_SECRET=
JWT_EXPIRATION=3600
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRATION=604800
HASH_ROUNDS=12
