<html>
  <body>
    <h2>Hello {{fullName}},</h2>
    <p>Your account password was changed successfully.</p>
    <p>Time: {{changedAt}}</p>
    <p>If this was not you, please contact support immediately.</p>
  </body>
</html>
